<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <rosparam command="load" file="$(find flypulator_description)/param/state_estimation_param.yaml" />
    <rosparam command="load" file="$(find flypulator_description)/param/drone_parameter.yaml" />
    <rosparam command="load" file="$(find flypulator_description)/param/aero_param.yaml" />
    <rosparam command="load" file="$(find flypulator_gazebo_plugin)/cfg/sim_parameter.yaml" />


    <node name="flypulator_vive_pose" pkg="flypulator_vive_pose" type="vive_pose" output="screen">

        <!-- name of the world frame(reference coordinate) -->
        <param name="world_id" type="string" value="flypulator_world" />

        <!-- name of the tracker frame(tracker coordinate) -->
        <param name="tracker_id" type="string" value="flypulator_tracker" />

        <!-- name of the world frame of the motion capture system -->
        <param name="mcap_world_id" type="string" value="vive_world" />

        <!-- published uav state message -->
        <remap from="~/meas_state" to="/drone/meas_state" />

        <!-- subscribed odometry topics -->
        <!-- <remap from="~/odom_msg" to="/vive/LHR_08DDEDC9_odom"/> -->
    </node>
    <node pkg ="tf" type="static_transform_publisher" name="base_link" args="0.0 -0.0825 -0.17 0.0 0.0 0.0 flypulator_tracker base_link 100" />

    <include file="$(find vive_tracker)/launch/vive_tracker.launch">
</launch>


