<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <gazebo>
    <plugin name="fake_sensor_plugin" filename="libfake_sensor_plugin.so">
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>${namespace}</robotNamespace>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="propulsion_plugin" filename="libpropulsion_plugin.so">
    </plugin>
  </gazebo>

</robot>

